# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de caché y compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo (macOS / Windows)
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Streamlit 
.streamlit/

